@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans';
  src: url('/WorkSans-alphanum.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+23, U+37, U+28-29, U+2C, U+2E, U+30-39, U+41-5A, U+61-7A;
}
/*
@font-face {
  font-family: 'Work Sans';
  src: url('/WorkSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/WorkSans-Italic-VariableFont_wght.woff2') format('woff');
  font-weight: 100 900;
  font-style: italic;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: theme('fontFamily.sans');
}
